<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.liuqi.tools.codelife.entity"/>
    </typeAliases>

    <!-- 注册Handler -->
    <typeHandlers>
        <typeHandler handler="com.liuqi.tools.codelife.db.dao.mybatis.mapper.ArticleStatusTypeHandler"/>
        <typeHandler handler="com.liuqi.tools.codelife.db.dao.mybatis.mapper.UserStatusTypeHandler"/>
        <typeHandler handler="com.liuqi.tools.codelife.db.dao.mybatis.mapper.TopicStatusTypeHandler"/>
        <typeHandler handler="com.liuqi.tools.codelife.db.dao.mybatis.mapper.TopicTypeTypeHandler"/>
        <typeHandler handler="com.liuqi.tools.codelife.db.dao.mybatis.mapper.CommentTypeHandler"/>
    </typeHandlers>

    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!-- 设置数据库类型 Oracle,Mysql,MariaDB,SQLite,Hsqldb,PostgreSQL六种数据库-->
            <property name="helperDialect" value="mysql"/>
        </plugin>
    </plugins>

    <mappers>
        <mapper resource="mybatis/userMapper.xml"/>
        <mapper resource="mybatis/articleMapper.xml"/>
        <mapper resource="mybatis/userLogMapper.xml"/>
        <mapper resource="mybatis/roleMapper.xml"/>
        <mapper resource="mybatis/topicMapper.xml"/>
        <mapper resource="mybatis/commentMapper.xml"/>
        <mapper resource="mybatis/articleTypeMapper.xml"/>
    </mappers>

</configuration>