<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>新增</title>

    <link type="text/css" href="/js/simpleMDE/simplemde.min.css" rel="stylesheet"/>

    <script src="/js/simpleMDE/simplemde.min.js"></script>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script src="/js/showdown/showdown.min.js"></script>
    <script src="/js/highlight/highlight.pack.js"></script>
    <script th:src="@{/js/vue.min.js}"></script>
    <script th:src="@{/js/axios.min.js}"></script>

    <link rel="stylesheet" th:href="@{/js/highlight/styles/github.css}" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/js/bootstrap-4.0.0/css/bootstrap.min.css}" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/common.css}" crossorigin="anonymous">

    <script th:src="@{/js/common.js}"></script>

    <script th:inline="javascript">
        //@grant window.close
        let converter = new showdown.Converter();
        let article = [[${article}]];

        $(function(){
            let editor = new SimpleMDE({
                element: $("#editor")[0],
                 renderingConfig: {
                    codeSyntaxHighlighting: true
                }
            });

            editor.toggleSideBySide();

            //如果是编辑某个文章，则设置标题、分类等
            if (article) {
                $("#title").val(article.title);
                $("#type").val(article.articleType.id);
                $("#forum").val(article.forum.id);
            }

            //绑定form的提交事件
            $("#form").bind("submit", function() {
                let formSubmitUrl = $("#formSubmitUrl").val();
                let title = $("#title").val();
                let type = $("#type").val();
                let content = editor.value();
                let forumId = $("#forum").val();
                let topic = $("#topic").val();
                let fileIdsStr = $("#fileIds").val()

                let data = {title: title, type: type, content: content, forumId: forumId, topic: topic, fileIds: fileIdsStr};
                if (article) {
                    data.id = article.id;
                }

                post(formSubmitUrl,data,
                    function(data) {
                        if ("succeed" === data) {
                            alert("提交成功，页面将关闭！");
                            window.close();
                        } else {
                            alert("提交失败，错误信息：" + data.exception.message);
                        }
                    });

                return false;
            });
        });
    </script>

    <style>
        #htmlContent{
            border: 1px solid #eee;
            margin-top: 20px;
        }

        .fullscreen {
            top: 100px!important;
        }

        .editor-toolbar {
            border-top: 1px solid #efefef!important;
        }

        .CodeMirror-fullscreen,.editor-preview-side {
            top: 150px!important;
        }
    </style>
</head>
<body>
<div  class="container-fluid" id="container">
    <form id="form" class="container-fluid">
        <input type="text" id="formSubmitUrl" th:value="@{/article/manager/save}" hidden/>
        <input type="hidden" v-model="uploadFileIds" id="fileIds"/>
        <div class="row mt-1">
            <label class="col-sm-1 text-left mt-2">标题：</label>
            <input type="text" size="50"
                   name="title" id="title"
                   class="col-sm-5 form-control mb-2" placeholder="标题" required/>
        </div>

        <div class="row mb-2">
            <label class="col-sm-1 text-left mt-2">分类：</label>
            <select name="type" class="col-sm-2 form-control" id="type">
                <option th:value="${type.id}"  th:each="type: ${types}" th:text="${type.name}"></option>
            </select>
            <label class="col-sm-1 text-right mt-2"  th:if="${null == article}">版块：</label>
            <select name="forumId" class="col-sm-2 form-control" id="forum" required th:if="${null == article}">
                <option th:value="${forum.id}"  th:each="forum: ${forums}" th:text="${forum.name}"></option>
            </select>
            <div class="col-sm">
                <button type="button" class="btn btn-gray" @click="showFileManager = true">文件管理</button>
                <button type="submit" class="btn btn-primary">发表</button>
            </div>
        </div>
    </form>
    <textarea class="row" id="editor" rows="40" cols="200" th:text="${article} ? ${article.content} : ''"></textarea>

    <div id="fileManager" class="dialog-mask" v-if="showFileManager">
        <div class="dialog">
            <h5 class="dialog-title">文件管理<span class="close-icon" @click="showFileManager = false">X</span></h5>
            <div class="dialog-content">
                <input type="file" id="file" @change="changeFile($event)"/>
                <input type="button" class="btn btn-primary btn-sm" value="上传" @click="uploadFile()"/>
                <ul>
                    <li v-for="file in fileList">{{file.name}}: <a :href="'/file/download/' + file.id">/file/download/{{file.id}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>

<script th:inline="javascript">
    new Vue({
        el: '#container',
        data: {
            // 附件清单
            article: [[${article}]],
            fileList: [[${files}]],
            selFile: null,
            uploadFileIds: [],
            showFileManager: false
        },
        methods: {
            uploadFile: function() {
                if (!this.selFile) {
                    alert("未选择任何文件");
                    return
                }

                console.log(this.selFile);

                var params = new FormData();
                params.append("file", this.selFile);
                params.append("uploadUser", "1");
                params.append("module", "article");
                var config = {
                    headers: {'Content-Type': 'multipart/form-data'}
                };

                let self = this
                axios.post("/file/upload", params, config)
                    .then(function(resp) {
                        console.log(resp)

                        let statusCode = resp.data.statusCode
                        if (!statusCode || '200' !== statusCode) {
                            if (resp.data.errorMessage) {
                                alert(resp.data.errorMessage)
                            } else {
                                alert("服务内部异常")
                            }
                        } else {
                            let data = resp.data.data
                            if (!self.fileList) {
                                self.fileList = []
                            }
                            self.fileList.push(data)
                            self.uploadFileIds.push(data.id)
                            self.selFile = null
                            $("#file").val("")
                        }
                    }).catch(function(error) {
                        console.log(error.message);
                        if (error.response) {
                            console.error(error.response);
                            alert("服务器内部异常，状态码：" + error.response.status)
                        }
                    })
            },

            changeFile: function(e) {
                if (e.target.files) {
                    this.selFile = e.target.files[0]
                }
            }
        },
        created: function() {
        },
        filters: {
            numFilter(value) {
                var realVal = parseFloat(value).toFixed(2);
                return parseFloat(realVal)
            }
        }
    })
</script>
</html>