<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout/layout">
<head>
    <meta charset="UTF-8"/>
    <title>文章浏览</title>

    <script th:inline="javascript">
        //加载完成后设置哪个分类被选中
        $(function(){
            var forumId = [[${forumId}]];
            if (undefined != forumId  && null != forumId) {
                var as = $("#navUl>a");
                for (var i = 0; i < as.length; i++) {
                    var a = as[i];
                    var url = $(a).attr("href");
                    var urlTypeId = $.getUrlVar("forumId", url);

                    if (urlTypeId == typeId) {
                        $(a).attr("class", "list-group-item active");
                    } else {
                        $(a).attr("class", "list-group-item");
                    }
                }
            }
        });
    </script>
</head>
<body>
<div layout:fragment="content" class="container-fluid mr-2">
    <div class="row">
        <!-- 左侧导航页面 -->
        <div class="col-sm-3 col-md-2 hidden-xs-down sidebar">
            <div class="side-block container" id="navUl" >
                <span class="side-block-title row">文章版块</span>
                <a class="side-block-item row active" th:href="@{/article/articles}">所有文章</a>
                <a class="side-block-item row"  th:each="forum: ${forums}" th:href="@{'/article/articles?forumId=' + ${forum.id}}"
                   th:text="${forum.name}">
                </a>
            </div>
        </div>

        <!-- 右侧文章列表 -->
        <div layout:fragment="subContent" class="col-sm-9 col-md-10 right-content">

        </div>
    </div>
</div>

</body>
</html>