body {
    background-image: url('../icons/bg.gif');
}

.btn {
    cursor: pointer;
}

/*导航栏CSS调整*/
#mainNav {
    padding-bottom: 0px;
    border-bottom: 1px solid #ddd;
}

#mainNavUl .active {
    background: rgba(255, 255, 255, .2);
    border: 1px solid #4c582830;
    border-width: 1px 1px 0px 1px;
    border-radius: 6px 6px 0px 0px;
    margin-bottom: -2px;
}

#mainNavUl li:hover{
    background: rgb(255, 255, 255, .2);
    border-width: 1px 1px 0px 1px;
    border-radius: 6px 6px 0px 0px;
}

#mainNavUl li {
    width: 100px;
}

#mainNavUl>li>a {
    color: #fff!important;
}

.login-button {
    border: 1px solid gray;
    border-radius: 4px;
}

.my-nav-link {
    color: #89db74;
}

/*左侧导航标题样式*/
.left-nav-title {
    font-size: 0.8em;
    padding-bottom: 4px;
}

/*子菜单样式调整*/
.list-group-item {
    border-color: #AFEEEE;
    color: black;
}

.list-group-item:hover {
    background-color: #F0F8FF;
}

.list-group .active {
    background-color: #F0FFFF;
    border-color: #AFEEEE;
    color: black;
}

/*侧边栏样式*/
.side-block {
    border: 1px solid #F0F8FF;
    background: #fff;
    padding: 0.4em;

    box-shadow: 1px 1px 5px gray;
}

.side-block-title {
    font-size: 0.8em;
    line-height: 1.4em;
    border-left: 4px solid #A52A2A;

    padding-left: 0.4em;
    margin-left: 0.6em;
    margin-top: 0.4em;
}

.side-block-item {
    font-size: 0.8em;
    line-height: 2.4em;
    padding-left: 2.2em;
    margin-left: 0em;
    color: #000;
}

/*右侧内容区域样式调整*/
.right-content {
    background: #fff;

    box-shadow: 1px 1px 5px gray;
}

.right-content-toolbar {
    border-bottom: 1px solid #efefef;
    line-height: 40px;
    height: 40px;
    font-size: 12px;
}

.right-content-title {
    font-size: 14px;
    color: #000;
}

/*底部*/
.footer {
    border-top: 1px solid #ddd;
}

/* 错误信息，默认隐藏 */
.error-message {
    font-size: 0.8em;
    color: red;
    display: none;
}

.block {
    border: 1px solid #B0E0E6;
    padding: 0px;
    background: #fff;
}

.block-title {
    font-size: 1em;
    border-bottom: 1px solid #B0E0E6;
    color: #4682B4;
    background: #F0F8FF;
    line-height: 2.4em;
    padding-left: 10px;
    margin-bottom: 0px!important;
}

.block-item-a {
    margin-left: 10px;
    line-height: 30px;
    font-size: 0.8em;
}

.block-item-a>a{
    font-weight: normal!important;
    color: #4D5593;
}

/*面板元素包含内容的类型*/
.block-item-c {
    padding-left: 10px;
    padding-right: 10px;
}

.block>.block-item-c:not(:last-child) {
    border-bottom: 1px dotted #B0E0E6;;
}

.block-item-c-title {
    color: #000;
    line-height: 40px;
}

.block-item-c-remark {
    color: gray;
    font-size: 0.8em;
}

/*通用边框样式*/
.border-left-color-red {
    border-left-color: #e44444 !important;
}

/*弹框*/
.dialog-mask {
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #1112;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.dialog {
    height: 200px;
    position: absolute;
    left: calc(50% - 200px);
    top: 100px;
    background: #fff;
    display: block;
    box-shadow: 2px 2px 2px gray;
    border: 1px solid #fff;
    font-size: 12px;
    border-radius: 2px;
}

.dialog-title {
    height: 30px;
    line-height: 30px;
    background: #efefef;
    padding-left: 10px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
}

.dialog-title>.close-icon {
    float: right;
    width: 30px;
    height: 30px;
    line-height: 24px;
    color: #000;
    font-size: 20px;
    text-align: center;
    background: lightgray;
    margin-top: -1px;
    margin-right: -1px;
    cursor: pointer;
    border-radius: 2px;
}

.dialog-title>.close-icon:hover{
    background: crimson;
    color: #fff;
}

.dialog-content {
    padding: 10px;
}

/*bootstrap 弹框*/
.form-group>label {
    line-height: 40px;
    text-align: right!important;
    padding-right: 0px;
}

.form-group>div{
    padding-left: 0px;
}