<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout/systemLayout">
<head>
    <meta charset="UTF-8"/>
    <title>文章管理</title>

    <script th:inline="javascript">
        var table;
        var isSystemAdmin = [[${#authentication.details.user.isSystemAdmin()}]];

        $(function(){
            table = new DataTable("articleTable", [[@{/getArticlesForManager}]], "toolBar",
                {sidePagination: "server", pagination: true});
        });

        function newArticle(id) {
            var url = "/system/articleManager/newArticle";
            if (undefined != id) {
                url += "?id=" + id;
            }
            window.open(url, "_blank");
        }

        //转换是否置顶
        function formatFixTop(value, row, index, field){
            if (isSystemAdmin) {
                return row.recommended ? '是': '否';
            }

            return row.fixTop ? '是' : '否';
        }

        //添加操作按钮
        function addButtons(value, row, index, field) {
            var authorId = row.authorID;
            var loginUserId = [[${#authentication.details.user.id}]];

            var viewButton = '<button id="viewButton" type="button" class="btn btn-sm mr-1">查看</button>';
            var fixTopButton = '<button id="fixTopButton" type="button" class="btn btn-sm mr-1">'
                + (isSystemAdmin ? (row.recommended ? "取消置顶" : "置顶") : (row.fixTop ? "取消置顶" : "置顶"))
                + '</button>';
            var editButton = '<button id="editButton" type="button" class="btn btn-sm mr-1">编辑</button>';
            var deleteButton = '<button id="deleteButton" type="button" class="btn btn-sm mr-1">删除</button>';

            var array = new Array();
            array.push(viewButton);

            array.push(fixTopButton);

            //只有登录用户是作者时才能进行编辑
            if (authorId == loginUserId) {
                array.push(editButton);
            }

            array.push(deleteButton);

            return array.join('');
        }

        //按钮事件处理
        window.operateEvent = {
            "click #viewButton": function(e, value, row, index) {
                var id = row.id;
                window.open([[@{/articleDetail}]] + '?id=' + id, '_blank');
            },
            "click #fixTopButton": function(e, value, row, index) {
                var url = [[@{/system/articleManager/fixTop}]];
                if ((!isSystemAdmin && row.fixTop)
                    || (isSystemAdmin && row.recommended)) {
                    url = [[@{/system/articleManager/unFixTop}]];
                }

                post(url, {id: row.id}, function() {
                    if (isSystemAdmin) {
                        row.recommended = !row.recommended;
                    } else {
                        row.fixTop = !row.fixTop;
                    }

                    table.updateRow(index, row);
                });
            },
            "click #deleteButton": function(e, value, row, index) {
                var id = row.id;
                if (confirm("将要删除所选文章【" + row.title + "】，是否确认？")) {
                    //删除文章
                    post('/system/articleManager/deleteArticle', {id: id}, function() {
                        table.removeById(id); 
                    });
                }
            },
            "click #editButton": function(e, value, row, index) {
                newArticle(row.id);
            }
        }
    </script>
</head>
<body>
<div layout:fragment="subContent">
    <!-- 左侧导航页面 -->
    <div class="row">
        <!-- 右侧文章列表 -->
        <div class="col">
            <table id="articleTable">
                <thead>
                    <tr>
                        <th data-width="300" data-field="title">标题</th>
                        <th data-width="60" data-field="authorName">作者</th>
                        <th data-width="60" data-field="createDate" data-sortable="true">发表时间</th>
                        <th data-width="20" data-field="fixTop" data-formatter="formatFixTop">是否置顶</th>
                        <th data-width="140" data-formatter="addButtons" data-events="operateEvent">操作</th>
                    </tr>
                </thead>
            </table>

            <!-- 工具栏 -->
            <div id="toolBar">
                <input type="button" class="btn" value="新增" onclick="javascript: newArticle(); "
                       th:if="${null != #authentication.details.user && !#authentication.details.user.isSystemAdmin()}"/>
                <input type="button" class="btn" value="刷新" onclick="javascript: table.refresh(); "/>
            </div>
        </div>
    </div>
</div>
</body>
</html>