<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuqi.tools.codelife.db.dao.CommentDao">

    <insert id="add" parameterType="Comment">
        insert into comment(user_id, ip, content, comment_time, anonymos, type, destination)
        values(#{commentUser.id}, #{ip}, #{content}, #{commentTime}, #{anonymos},
        #{type, typeHandler=com.liuqi.tools.codelife.db.dao.typehandler.CommentTypeHandler},
        #{destination});
    </insert>

    <resultMap id="commentResult" type="Comment">
        <id column="id" property="id"/>
        <result property="ip" column="ip"/>
        <result property="content" column="content"/>
        <result property="commentTime" column="comment_time"/>
        <result property="anonymos" column="anonymos"/>
        <result property="type" column="type"
                typeHandler="com.liuqi.tools.codelife.db.dao.typehandler.CommentTypeHandler"/>
        <result property="destination" column="destination"/>
        <association property="commentUser" column="user_id" javaType="User"
                     select="com.liuqi.tools.codelife.db.dao.UserDao.findById"/>
        <collection property="children" ofType="Comment">
            <id column="child_id" property="id"/>
            <result property="ip" column="child_ip"/>
            <result property="content" column="child_content"/>
            <result property="commentTime" column="child_comment_time"/>
            <result property="anonymos" column="child_anonymos"/>
            <result property="type" column="child_type"
                    typeHandler="com.liuqi.tools.codelife.db.dao.typehandler.CommentTypeHandler"/>
            <result property="destination" column="child_destination"/>
            <association property="commentUser" column="child_user_id" javaType="User"
                         select="com.liuqi.tools.codelife.db.dao.UserDao.findById"/>
        </collection>
    </resultMap>

    <sql id="select">
        select
            t1.id,
            t1.user_id,
            t1.ip,
            t1.content,
            t1.comment_time,
            t1.anonymos,
            t1.type,
            t1.destination,
            t2.id as child_id,
            t2.user_id as child_user_id,
            t2.ip as child_ip,
            t2.content as child_content,
            t2.comment_time as child_comment_time,
            t2.anonymos as child_anonymos,
            t2.type as child_type,
            t2.destination as child_destination
        from
            comment t1
        left join comment t2
        on t1.id = t2.destination
        and t2.type = 2
    </sql>

    <select id="getByDestination" resultMap="commentResult">
        <include refid="select"/>
        where t1.type = #{type, typeHandler=com.liuqi.tools.codelife.db.dao.typehandler.CommentTypeHandler}
            and t1.destination=#{destination}
    </select>

    <select id="getCommentCountByAuthor" resultType="Integer">
        select
            count(t2.id) as commentCount
        from
            article t1
        inner join comment t2
        on t1.id = t2.destination
        where t1.author = #{authorId}
    </select>
</mapper>