/*文章清单样式*/
.article-tool-bar a {
    font-size: 0.8em;
}
.article-tool-bar {
    border-bottom: 1px solid #efefef;
}

.article-item {
    border-bottom: 1px dotted #efefef;
    padding-top: 10px;
    padding-left: 10px;
}

.article-item:hover {
    background: #f8f8f8;
}

.article-item-title {
    font-size: 1em;
    color: black;
    margin-bottom: 10px;
}

.article-item-remark {
    font-size: 0.8em;
    margin-top: 4px;
    color: gray;
}

.article-item-info {
    font-size: 0.8em;
    color: #bbb;
    margin-top: 10px;
}

.article-item-info>span {
    color: #3261A7;
}

.article-list-item-buttons .btn {
    font-size: 0.8em;
    line-height: 1em;
    margin: 0px;
    padding: 0px;
}
