body {
    background-image: url('/icons/bg.gif');
}

/*导航栏CSS调整*/
#mainNav {
    background: rgba(19, 29, 32, .6)!important;
    padding-bottom: 0px;
    border-bottom: 1px solid #ddd;
}

#mainNavUl .active {
    background: rgba(255, 255, 255, .2);
    border: 1px solid #4c582830;
    border-width: 1px 1px 0px 1px;
    border-radius: 6px 6px 0px 0px;
    margin-bottom: -2px;
}

#mainNavUl li:hover{
    background: rgb(255, 255, 255, .2);
    border-width: 1px 1px 0px 1px;
    border-radius: 6px 6px 0px 0px;
}

#mainNavUl li {
    width: 100px;
}

#mainNavUl>li>a {
    color: #fff!important;
}

.login-button {
    border: 1px solid gray;
    border-radius: 4px;
}

.my-nav-link {
    color: #89db74;
}

/*左侧导航标题样式*/
.left-nav-title {
    font-size: 0.8em;
    padding-bottom: 4px;
}

/*子菜单样式调整*/
.list-group-item {
    border-color: #AFEEEE;
    color: black;
}

.list-group-item:hover {
    background-color: #F0F8FF;
}

.list-group .active {
    background-color: #F0FFFF;
    border-color: #AFEEEE;
    color: black;
}

/*侧边栏样式*/
.side-block {
    border: 1px solid #F0F8FF;
    background: #fff;
    padding: 0.4em;
}

.side-block-title {
    font-size: 0.8em;
    color: blue;
    line-height: 1.4em;
    border-left: 4px solid #A52A2A;

    padding-left: 0.4em;
    margin-left: 0.6em;
    margin-top: 0.4em;
}

.side-block-item {
    font-size: 0.8em;
    line-height: 2.4em;
    padding-left: 2.2em;
    margin-left: 0em;
}

/*右侧内容区域样式调整*/
.right-content {
    border: 1px solid #AFEEEE;
}

/*底部*/
.footer {
    border-top: 1px solid #ddd;
}

/* 错误信息，默认隐藏 */
.error-message {
    font-size: 0.8em;
    color: red;
    display: none;
}