.content {
    padding-top: 10px;
}

.login-form {
    background: #fafafa;
    border: 1px solid #f3f3f3;
}

/*网站介绍段落中的表格风格*/
.desc-table {
    border-color: #AFEEEE;
}

.desc-table th {
    background: #F0F8FF;
    text-align: center;
}

.desc-table th, .desc-table td {
    padding: 4px;
    padding-left: 10px;
    min-width: 100px;
    border-color: #AFEEEE;
}

.block {
    border: 1px solid #B0E0E6;
    padding: 0px;
    background: #fff;
}

.block-title {
    font-size: 1em;
    border-bottom: 1px solid #B0E0E6;
    color: #4682B4;
    background: #F0F8FF;
    line-height: 2.4em;
    padding-left: 10px;
    margin-bottom: 0px!important;
}

.block-item-a {
    margin-left: 10px;
    line-height: 30px;
    font-size: 0.8em;
}

.block-item-a>a{
    font-weight: normal!important;
    color: #4D5593;
}

/*面板元素包含内容的类型*/
.block-item-c {
    padding-left: 10px;
    padding-right: 10px;
}

.block>.block-item-c:not(:last-child) {
    border-bottom: 1px dotted #B0E0E6;;
}

.block-item-c-title {
    color: #000;
    line-height: 40px;
}

.block-item-c-remark {
    color: gray;
    font-size: 0.8em;
}

/*面板标题背景色定制*/
.block-title-forum {
    background: #D6F9E0!important;
}

.block-title-topic {
    background: #F0FFFF;
}

.block-title-subscribed-topic {
    background: #FFFAF0;
}
