<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout/systemLayout">
<head>
    <meta charset="UTF-8"/>
    <title>专题修改</title>

    <script th:inline="javascript">
        var imgUrl = [[@{/topic/getImg}]] + '?fileName=' + [[${topic.img}]];
        var getTopicArticlesUrl = [[@{/topic/getTopicArticles}]];
        var searchArticleUrl = [[@{/searchArticleByTitle}]];
        var addArticlesUrl = [[@{/system/topicManager/addArticles}]];
        var deleteTopicArticleUrl = [[@{/system/topicManager/deleteArticle}]];
        var searchUserUrl = [[@{/user/search}]];
        var updateTopicUrl = [[@{/system/topicManager/update}]];

        var id = [[${topic.id}]];
        var table;
        var adminId;

        $(function(){
            $("#img").attr("src", imgUrl);

            //表格初始化
            table = new DataTable("dataTable", getTopicArticlesUrl + "?topicId=" + id, "toolBar");

            //修改提交事件初始化
            $.formSubmit("topicForm",  function() {
                var title = $("#title").val();
                var introduction = $("#introduction").val();
                var type = $("#type").val();
                var admin = adminId;
                var imgFile = $("#imgInput")[0].files[0];

                var data = new FormData();
                data.append("id", id);
                data.append("title", title);
                data.append("introduction", introduction);
                data.append("type", type);
                if (admin) {
                    data.append("admin", admin);
                }
                if (imgFile) {
                    data.append("img", imgFile);
                }

                postFormData(updateTopicUrl, data, function(){
                    alert("更新成功！");
                });
            });
        });

        //检查文件大小
        function checkFileSize(target) {
            var fileSize = target.files[0].size;
            if (fileSize / 1000 > 200) {
                $(target).val("");
                $("#errorMessage").text("文件不能大于200K，请重新选择！");
                $("#errorMessage").show();
            } else {
                $("#errorMessage").hide();
            }
        }

        //新增专题文章
        function add() {
            $("#articleTitleKeyWord").val("");
            $("#articleSearchResult").html("");
            $("#newDialog").modal("show");
        }

        //根据标题关键字搜索文章
        function searchArticle(){
            var key = $("#articleTitleKeyWord").val();
            if ("" == key) {
                $("#modalErrorMessage").text("请输入关键字进行查询！");
                $("#modalErrorMessage").show();
                return;
            }

            $("#modalErrorMessage").hide();

            //根据关键字去服务器搜索文章清单
            post(searchArticleUrl, {key: key}, function(data) {
                //先清空List
                $("#articleSearchResult").html("");

                //已添加到专题的文章不再列出
                var topicArticles = table.getData();

                for (var i in data) {
                    //如果已添加到专题中，则在此不再列出来
                    var alreadyAdded = false;
                    for (var j in topicArticles) {
                        if (topicArticles[j].id == data[i].id) {
                            alreadyAdded = true;
                            break;
                        }
                    }

                    if (alreadyAdded) {
                        continue;
                    }

                    var article = data[i];

                    $("<option value='" + article.id + "'>" + article.title + "</option>")
                        .appendTo($("#articleSearchResult"));
                }
            });
        }

        //调用服务器接口添加文章
        function addToArticle() {
            var selArticles = $("#articleSearchResult").val();
            if (!selArticles) {
                $("#modalErrorMessage").text("未选择文章！");
                $("#modalErrorMessage").show();

                return;
            }

            post(addArticlesUrl, {id: id, articles: selArticles.toString()}, function() {
                $("#newDialog").modal("hide");
                table.refresh();
            });
        }

        //组装文章表格的操作按钮
        function addButtons() {
            var result = new Array();
            result.push("<button type='button' class='btn' id='deleteButton'>删除</button>");

            return result.join("");
        }

        //处理文章表格的按钮事件
        window.operateEvent = {
            "click #deleteButton": function(e, value, row, index) {
                post(deleteTopicArticleUrl, {id: id, articleId: row.id}, function() {
                    table.refresh();
                });
            }
        }

        //变更管理员
        function changeAdmin() {
            $("#adminDialog").modal("show");
            $("#adminKeyWord").focus().select();
        }

        //根据关键字搜索用户
        function searchUser() {
            var key = $("#adminKeyWord").val();
            if ("" == key) {
                $("#adminFormErrorMessage").text("未输入关键字");
                $("#adminFormErrorMessage").show();
                return;
            }

            post(searchUserUrl, {key: key}, function(data) {
                $("#adminSelect").html("");

                for (var i in data) {
                    var user = data[i];

                    $("<option value='" + user.id + "'>" + user.realName + "</option>")
                        .appendTo($("#adminSelect"));
                }
            });

            $("#adminFormErrorMessage").hide();
        }

        //设置Admin框中的值
        function setAdmin() {
            var userId = $("#adminSelect").val();
            var userName = $("#adminSelect").text();
            $("#admin").val(userName);
            adminId = userId;
            $("#adminDialog").modal("hide");
        }
    </script>
</head>
<body>

<div layout:fragment="subContent">
    <h4 class="m-4 text-center">专题修改</h4>

    <h5 class="ml-2 text-primary">基本信息</h5>
    <hr/>
    <form class="row m-2" id="topicForm" method="post">
        <label class="error-message" id="errorMessage"></label>
        <div class="w-100"></div>

        <label class="col-sm-1 text-right">标题：</label>
        <input type="text" class="col-sm-6 form-control" id="title"
               th:value="${topic.title}"/>

        <div class="w-100 mb-2"></div>
        <label class="col-sm-1 text-right">介绍：</label>
        <textarea class="col-sm-6 form-control" id="introduction"
                  th:text="${topic.introduction}"/>

        <div class="w-100 mb-2"></div>
        <label class="col-sm-1 text-right">类型：</label>
        <select class="col-sm-6 form-control" id="type">
            <option th:each="type: ${types}" th:value="${type.ordinal}" th:text="${type.name}"
                th:if="${topic.type == type}" selected></option>

            <option th:each="type: ${types}" th:value="${type.ordinal}" th:text="${type.name}"
                    th:if="${topic.type != type}"></option>
        </select>

        <div class="w-100 mb-2"></div>
        <label class="col-sm-1 text-right">管理员：</label>
        <input class="col-sm-2 form-control" id="admin"
                type="text" readonly th:value="${topic.admin} ? ${topic.admin.realName} : ''"/>
        <button class="btn btn-secondary ml-2"
                type="button" onclick="changeAdmin(); ">变更</button>

        <div class="w-100 mb-2"></div>
        <label class="col-sm-1 text-right">封面：</label>
        <img class="col-sm-2" height="100px"
                src="#" id="img"/>
        <input type="file" id="imgInput"
               accept="image/jpg,image/png"
               onchange="checkFileSize(this); "
               class="form-control col-sm-2"/>

        <div class="w-100 mb-2"></div>
        <div class="col-7 text-right">
            <input type="button" value="返回" class="btn btn-secondary" onclick="javascript: history.back(); "/>
            <input type="submit" value="提交"
                class="btn btn-primary  ml-4"/>
        </div>
    </form>

    <div class="modal fade" id="adminDialog" tabindex="-1" role="dialog" aria-labelledby="dialogTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">选择管理员</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="adminForm" method="post" class="mr-4 ml-2">
                        <span class="error-message" id="adminFormErrorMessage"></span>

                        <div class="row">
                            <input class="col-sm-10 form-control mr-1" type="text" id="adminKeyWord"
                                   placeholder="关键字"
                                   maxlength="100" autofocus
                                   required/>
                            <input type="button" class="btn" value="搜索" onclick="searchUser()"/>
                        </div>

                        <select class="row form-control mt-2"
                                id="adminSelect"
                                aria-multiselectable="true"
                                multiple="false">

                        </select>

                        <div class="row mt-2">
                            <button type="button" class="col-sm-2 btn btn-secondary offset-sm-7 mr-2"
                                    data-dismiss="modal">取消</button>
                            <button type="button" onclick="setAdmin()"
                                    class="col-sm-2 btn btn-primary">确定</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <h5 class="ml-2 text-primary">专题文章</h5>
    <hr/>
    <div class="row ml-1 mb-4">
        <table id="dataTable">
            <thead>
            <tr>
                <th data-width="500" data-field="title">标题</th>
                <th data-width="200" data-field="authorName">作者</th>
                <th data-width="200" data-field="createDate">创建时间</th>
                <th data-width="200" data-formatter="addButtons" data-events="operateEvent">操作</th>
            </tr>
            </thead>
        </table>

        <!-- 工具栏 -->
        <div id="toolBar">
            <button type="button" class="btn" onclick="javascript: add(); ">新增</button>
            <button type="button" class="btn" onclick="javascript: table.refresh(); ">刷新</button>
        </div>
    </div>


    <!--新增Topic下的文章 -->
    <div class="modal fade" id="newDialog" tabindex="-1" role="dialog" aria-labelledby="dialogTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="dialogTitle">新增文章到专题</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="newForm" method="post" class="mr-4 ml-2">
                        <span class="error-message" id="modalErrorMessage"></span>

                        <div class="row">
                            <input class="col-sm-10 form-control mr-1" type="text" id="articleTitleKeyWord"
                                   placeholder="文章关键字"
                                   maxlength="100"
                                   required/>
                            <input type="button" class="btn" value="搜索" onclick="searchArticle()"/>
                        </div>

                        <select class="row form-control mt-2"
                                id="articleSearchResult"
                                aria-multiselectable="true"
                                multiple="true">

                        </select>

                        <div class="row mt-2">
                            <button type="button" class="col-sm-2 btn btn-secondary offset-sm-7 mr-2"
                                    data-dismiss="modal">取消</button>
                            <button type="button" onclick="addToArticle()"
                                    class="col-sm-2 btn btn-primary" id="submitButton">增加</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>