/*文章清单样式*/
.article-tool-bar a {
    font-size: 0.8em;
}
.article-tool-bar {
    border-bottom: 1px solid #efefef;
}

.article-list-group {
    border-bottom: 1px solid #efffff;
}

.article-list-group:nth-child(even){
    background: #FaFFFF;
}

.article-list-group:nth-child(odd){
    background: #fff;
}

.article-list-group:hover {
    background: #f9f9f9;
}

.article-list-item-title {
    color: #483D8B;
}

.article-list-item-remark {
    color: #483D8B;
    font-size: 0.9em;
}

.article-list-item-info {
    color: #aaa;
    font-size: 0.8em;
}

.article-list-item-buttons .btn {
    font-size: 0.8em;
    line-height: 1em;
    margin: 0px;
    padding: 0px;
}
