/*文章清单样式*/
.article-list-group {
    background: -moz-linear-gradient(top, #fefefe, #fafafa);
    background: -moz-linear-gradient(to bottom, #fefefe, #fafafa);
    background: -ms-linear-gradient(top, #fefefe, #fafafa);
    background: -o-linear-gradient(top, #fefefe, #fafafa);
    background: -webkit-linear-gradient(top, #fefefe, #fafafa);
}

.article-list-group:hover {
    background: #f9f9f9;
}

.article-list-item-title {
    color: #483D8B;
}

.article-list-item-remark {
    color: #483D8B;
    font-size: 0.9em;
}

.article-list-item-info {
    color: #aaa;
    font-size: 0.8em;
}