<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout/articlesLayout">
<head>
    <meta charset="UTF-8"/>
    <title>文章浏览</title>

    <link th:href="@{/css/article.css}" type="text/css" rel="stylesheet">
    <script th:src="@{/js/showdown/showdown.min.js}"></script>
    <script th:src="@{/js/pager.js}"></script>

    <script th:inline="javascript">
        var converter = new showdown.Converter();
        var nowPage = [[${nowPage}]];
        var pages = [[${pages}]];
        var typeId = [[${typeId}]];

        $(function(){
            $("#content").html(converter.makeHtml($("#contentInput").val()));

            var pageUrl = [[@{/articles}]] + '?typeId=' + (null == typeId ? '' : typeId);

            new Pager("pager", pageUrl, nowPage, pages);
        });
    </script>
</head>
<body>
<div layout:fragment="subContent">
    <div class="row article-list-group pb-2 pt-2 mt-0" th:each="article: ${articles}">
        <div class="col">
            <a th:text="${article.title}" class="article-list-item-title font-weight-bold"
               th:href="@{'/articleDetail?id=' + ${article.id}}"></a>
            <div th:text="${article.remark}" class="mt-2 mb-2 article-list-item-remark"></div>
            <div class="article-list-item-info">
                <span th:text="${article.authorName}" class="mr-4"></span>
                发表于：<cite th:text="${article.createDate}" class="mr-5"></cite>
                阅读次数：<cite th:text="${article.readCount}" class="mr-5"></cite>
                点赞数：<cite th:text="${article.praiseCount}"></cite>
            </div>
        </div>
    </div>
    <nav class="row mt-2 ml-2  justify-content-center">
        <ul class="pagination" id="pager">
        </ul>
    </nav>
</div>
</body>
</html>