<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout/layout">
<head>
    <meta charset="UTF-8"/>
    <title>首页</title>

    <link rel="stylesheet" href="/css/index.css"/>

    <script th:inline="javascript">
        var isLoading = false;
        var nowPage = 1;
        var pageSize = 20;
        var detailUrl = [[@{/article/detail}]];
        var noMoreData = false;

        $(function(){
            $("#loadingInfo").hide();

            $(window).scroll(function(){
                if ($(window).scrollTop() + 20 >= $(document).height() - $(window).height()) {
                    //继续加载文档数据
                    if (isLoading || noMoreData) {
                        return;
                    }
                    isLoading = true;
                    $("#loadingInfo").show();
                    post([[@{/article/getForExplorer}]], {nowPage: nowPage + 1, pageSize: pageSize}, function(data) {
                        if (data && 0 != data.length) {
                            for (var i = 0, length = data.length; i < length; i++) {
                                var article = data[i];

                                var html = '<div class="article-item">';
                                if (article.recommended) {
                                    html += '<sup style="color: red; ">[置顶]</sup>';
                                }
                                html += '<a class="article-item-title font-weight-bold" href="'
                                    + detailUrl + '?id=' + article.id + '">' + article.title + '</a>';

                                html += '<p class="article-item-remark">' + article.remark + '</p>'
                                    + '<div class="article-item-info">'
                                    + '<span class="mr-4">' + article.authorName + '</span>'
                                    + '发表于：<cite class="mr-5">' + article.createDate + '</cite>'
                                    + '阅读次数：<cite class="mr-5">' + article.readCount + '</cite>'
                                    + '点赞数：<cite' + article.praiseCount + '</cite></div></div>';

                                $("#articleList").append(html);
                            }

                            nowPage++;
                        } else {
                            noMoreData = true;
                            $("#noMoreDataInfo").show();
                        }

                        isLoading = false;
                        $("#loadingInfo").hide();
                    });
                }
            });
        });
    </script>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <form method="get" th:action="@{/search}"
          class="row m-4">
        <input type="text"
               placeholder="搜索" name="key" required
               class="form-control col-md-6 mr-md-2 offset-md-2"/>
        <input type="submit" value="搜索"
               class="btn btn-primary"/>
    </form>

    <div class="row">
        <!-- 登录框 -->
        <div class="col-sm-2" th:if="${#authentication.name eq 'anonymousUser'}">
            <div class="block row ml-1">
                <font class="block-title article-type-block-title col-12">文章分类</font>
                <div class="w-100"></div>
                <div class="article-type-item col-12" th:each="articleType: ${articleTypes}">
                    <a th:text="${articleType.name}" class="article-type-title font-weight-bold"
                       th:href="@{/article/articles} + '?forumId=' + ${articleType.id}"></a>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <!--搜索操作-->

            <div class="row">
                <div class="col-sm-8 pr-0">
                    <div class="block" id="articleList">
                        <h5 class="block-title">热门文章</h5>
                        <div class="article-item" th:each="article: ${articles}">
                            <sup th:if="${article.recommended}" style="color: red; ">[置顶]</sup>
                            <a th:text="${article.title}" class="article-item-title font-weight-bold"
                               th:href="@{'/article/detail?id=' + ${article.id}}"></a>

                            <p class="pr-2 article-item-remark" th:text="${article.remark}"></p>
                            <div class="article-item-info">
                                <span th:text="${article.authorName}" class="mr-4"></span>
                                发表于：<span th:text="${article.createDate}" class="mr-5"></span>
                                阅读次数：<span th:text="${article.readCount}" class="mr-5"></span>
                                点赞数：<span th:text="${article.praiseCount}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="article-item text-center hidden" id="loadingInfo">
                        <p class="article-item-remark">加载中...</p>
                    </div>

                    <div class="article-item text-center hidden" id="noMoreDataInfo">
                        <p class="article-item-remark">无更多数据</p>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="block mb-2" th:if="${null != myTopics && myTopics.size() != 0}">
                        <h5 class="block-title block-title-subscribed-topic">订阅专题</h5>
                        <div class="w-100"></div>
                        <div class="article-item" th:each="myTopic: ${myTopics}">
                            <a th:text="${myTopic.title}" class="article-item-title font-weight-bold"
                               th:href="@{/topic/detail} + '?id=' + ${myTopic.id}"></a>
                            <p class="article-item-remark" th:text="${myTopic.introduction}"></p>
                        </div>
                    </div>

                    <div class="block">
                        <h5 class="block-title block-title-topic">热门专题</h5>
                        <div class="w-100"></div>
                        <div class="article-item" th:each="topic: ${topics}">
                            <a th:text="${topic.title}" class="article-item-title font-weight-bold"
                               th:href="@{/topic/detail} + '?id=' + ${topic.id}"></a>
                            <p class="article-item-remark" th:text="${topic.introduction}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>