<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout/layout">
<head>
    <meta charset="UTF-8"/>
    <title>测试首页</title>

    <script th:inline="javascript">
        function checkUsername() {
            var username = $("#username").val();

            if ("" == username) {
                return;
            }

            post([[@{/userExists}]], {username, username}, function(data) {
                if (data) {
                    $("#usernameErrorMessage").show();
                    $("#username").focus();
                } else {
                    $("#usernameErrorMessage").hide();
                }
            });
        }

        function inputUsername() {
            $("#usernameErrorMessage").hide();
        }

        function inputRePassword() {
            var password = $("#password").val();
            var rePassword = $("#rePassword").val();

            if (password != rePassword) {
                $("#rePasswordErrorMessage").show();
            }  else {
                $("#rePasswordErrorMessage").hide();
            }
        }

        $(function(){
             //绑定form的提交事件
            $("#form").bind("submit", function() {
                var formSubmitUrl = [[@{/userRegister}]];
                var username = $("#username").val();
                var password = $("#password").val();
                var realName = $("#realName").val();

                var data = {username: username, password: password, realName: realName};

                post(formSubmitUrl,data,
                    function(data) {
                        alert("注册成功，页面将关闭！");
                        window.close();
                    });

                return false;
            });
        });
    </script>
</head>
<body>
<div layout:fragment="content" class="container" >
    <form class="form offset-sm-2 mb-4" id="form">
        <header class="text-center col-6 mb-4 mt-4 text-primary">
            <h4>用户注册</h4>
            <hr/>
        </header>
        <div class="row mb-2 align-middle">
            <label class="col-2" for="username">登录用户名</label>
            <input class="form-control col-4" type="text" id="username" name="username"
                   autofocus required maxlength="20"  placeholder="最长20位"
                   onblur="javascript: checkUsername(); "
                   oninput="javascript: inputUsername(); "/>
            <label class="text-danger ml-2" id="usernameErrorMessage"
                   style="display: none; ">用户名已存在</label>
        </div>
        <div class="row mb-2">
            <label class="col-2" for="username">展示名称</label>
            <input class="form-control col-4"
                   required maxlength="20" placeholder="最长20位"
                   type="text" id="realName" name="realName"/>
        </div>
        <div class="row mb-2">
            <label class="col-2">密码</label>
            <input class="form-control col-4"
                   required maxlength="10" minlength="4" placeholder="最短4位，最长10位"
                   type="password" name="password" id="password"/>
        </div>
        <div class="row mb-2">
            <label class="col-2">重复密码</label>
            <input class="form-control col-4"
                   required maxlength="10" minlength="4" placeholder="最短4位，最长10位"
                   oninput="javascript: inputRePassword(); "
                   type="password" id="rePassword" />
            <label class="text-danger ml-2" id="rePasswordErrorMessage"
                   style="display: none; ">两次密码不一致</label>
        </div>
        <div class="row mb-2">
            <input type="button" class="btn btn-second mr-4 offset-sm-4" value="取消"/>
            <input type="submit" class="btn btn-primary" value="提交"/>
        </div>
    </form>
</div>
</body>
</html>