<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout/layout">
<head>
    <meta charset="UTF-8"/>
    <title>修改密码</title>

    <script th:inline="javascript">
        function inputUsername() {
            $("#errorMessage").hide();
        }
    </script>
</head>
<body>
<div layout:fragment="content" class="container" >
    <form class="login-form pl-4 pt-4 pb-1" style="width: 300px; margin: 0 auto; background: #efefef; border: 1px solid #dedede; display: block-inline;"
          th:action="@{/iLogin}" method="POST">
        <input class="form-control row mb-2" name="username" type="text"
               oninput="javascript: inputUsername(); "
               placeholder="用户名" required/>
        <input class="form-control row mb-2" name="password" type="password" placeholder="密码" required/>
        <div class="row">
            <div class="col-3"></div>
            <input type="button" class="btn btn-link" value="注册" onclick="javascript: register(); "/>
            <input type="submit" class="btn btn-primary col-4 ml-1" value="登录"/>
        </div>

        <!-- 如果返回的链接中带有error参数，那么说明后台登录出现异常，可以通过Spring在Session中保存的异常变量获取异常信息并提示 -->
        <div id="errorMessage" class="mt-1 text-danger"
             style="font-size: 12px;  ">
            <!-- 登录失败的信息  -->
            <div  th:if="${param.error}"
                  th:text="${'登录失败：' + session.SPRING_SECURITY_LAST_EXCEPTION.message}">
            </div>
        </div>
    </form>
</div>
</body>
</html>