<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout/layout">
<head>
    <meta charset="UTF-8"/>
    <title>搜索结果</title>

    <style>
        .search-result {
            border-top: 1px dotted #efefef;
            padding: 10px;
        }
    </style>

    <script th:src="@{/js/pager.js}"></script>

    <script th:inline="javascript">
        var nowPage = [[${nowPage}]];
        var pages = [[${pages}]];
        var key = [[${key}]];

        $(function(){
            var pageUrl = [[@{/topic/search}]] + '?key=' + (null == key ? '' : key);

            new Pager("pager", pageUrl, nowPage, pages);
        });
    </script>
</head>
<body>
    <div layout:fragment="content" class="container">
        <!--搜索操作-->
        <form method="get" th:action="@{/topic/search}"
              class="row m-4">
            <input type="text"
                   placeholder="搜索专题" name="key" required
                   class="form-control col-md-6 mr-md-2 offset-md-2"/>
            <input type="submit" value="搜索"
                   class="btn btn-primary"/>
        </form>

        <div class="search-result row" th:each="topic: ${topics}">
            <div class="col-sm">
                <h5
                    class="search-result-title col-sm-12">
                    <a th:href="@{/topic/detail} + '?id=' + ${topic.id}"
                       th:text="${topic.title}"></a>
                </h5>
                <p th:text="${topic.introduction}"
                    class="search-result-content col-sm-12"></p>
            </div>

            <div class="col-sm-2">
                <img
                     th:if="${topic.img != ''}"
                    th:src="@{/topic/getImg} + '?fileName=' + ${topic.img}" height="100px"/>
            </div>
        </div>

        <!--分页工具栏-->
        <nav class="row mt-2 ml-2  justify-content-center">
            <ul class="pagination" id="pager">
            </ul>
        </nav>
    </div>
</body>
</html>