<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout/layout">
<head>
    <meta charset="UTF-8"/>
    <title>专题浏览</title>
    <link rel="stylesheet" href="/css/topic.css"/>

    <script th:inline="javascript">
        var subscribeUrl = [[@{/topic/subscribe}]];
        var unSubscribeUrl = [[@{/topic/unSubscribe}]];

        //订阅
        function subscribe(id) {
            post(subscribeUrl, {id: id}, function() {
                alert("订阅成功！");
                location.reload();
            });
        }

        //取消订阅
        function unSubscribe(id) {
            post(unSubscribeUrl, {id: id}, function() {
                alert("取消订阅成功！");
                location.reload();
            });
        }
    </script>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <!--搜索操作-->
    <form method="get" th:action="@{/topic/search}"
          class="row m-4 d-none d-sm-block">
        <input type="text"
               placeholder="搜索专题" name="key" required
               class="form-control col-md-4 mr-2 float-left offset-md-3"/>
        <input type="submit" value="搜索"
            class="btn btn-primary"/>
    </form>

    <div class="row">
        <div class="col-sm-3 d-none d-sm-block">
            <div class="block row ml-0 mr-0">
                <font class="block-title col-sm">热门专题</font>
            </div>
        </div>

        <div class="col-sm">
            <div class="row topic-block" th:each="topic: ${topics}">
                <h6 class="col-sm-12 topic-block-title">
                    <div class="row">
                        <a class="col-sm-10"
                                th:href="@{/topic/detail} + '?id=' + ${topic.id}"
                           th:text="${topic.title}"></a>
                        <span class="col-sm-2 text-right topic-subscribe-button"
                              th:if="${#authentication.name != 'anonymousUser'}"
                              th:onclick="'subscribe(' + ${topic.id} + ')'">订阅</span>
                    </div>
                </h6>

                <img class="col-sm-4 p-0"
                        th:if="${topic.img != ''}"
                        th:src="@{/topic/getImg} + '?fileName=' + ${topic.img}"/>

                <img class="col-sm-4 p-0"
                        height="200px"
                        th:if="${topic.img == ''}"
                        th:src="."/>

                <div class="col-sm m-0">
                    <p th:text="${topic.introduction}"></p>
                    <ul class="col-sm-12">
                        <li th:each="article: ${topic.articles}">
                            <a th:href="@{/article/detail} + '?id=' + ${article.id}" th:text="${article.title}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>