<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout/layout">
<head>
    <meta charset="UTF-8"/>
    <title>用户首页</title>

    <link th:href="@{/css/article.css}" type="text/css" rel="stylesheet">
    <script th:src="@{/js/showdown/showdown.min.js}"></script>
    <script th:src="@{/js/pager.js}"></script>

    <style>
        .stat-info-title {
            font-size: 1em;
            line-height: 4em;
            color: black;
            font-weight: bold;
            border-bottom: 1px solid #fafafa;
        }

        .stat-info-item {
            font-size: 0.8em;
            color: #483D8B;
        }
    </style>

    <script th:inline="javascript">
        var converter = new showdown.Converter();
        var nowPage = [[${nowPage}]];
        var pages = [[${pages}]];
        var typeId = [[${typeId}]];

        $(function(){
            $("#content").html(converter.makeHtml($("#contentInput").val()));

            var pageUrl = [[@{/userIndex}]] + '?typeId=' + (null == typeId ? '' : typeId) + '&userId=' + [[${userId}]];

            new Pager("pager", pageUrl, nowPage, pages);
        });
    </script>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-lg-3 hidden-xs-down sidebar">
            <div class="container side-block container mb-2">
                <div class="row p-1">
                    <span th:text="${realName}" class="stat-info-title col-sm text-center"></span>

                    <div class="w-100 mb-2"></div>

                    <div class="stat-info-item col-sm-3">
                        <div class="row text-center"><span class="col">文章总数</span></div>
                        <div class="row text-center"><span class="col" th:text="${totalArticles}"></span></div>
                    </div>

                    <div class="stat-info-item col-sm-3">
                        <div class="row text-center"><span class="col">点赞总数</span></div>
                        <div class="row text-center">
                            <span class="col"
                                  th:text="${null == statInfo ? 0 : statInfo.praiseCount}"></span></div>
                    </div>

                    <div class="stat-info-item col-sm-3">
                        <div class="row text-center"><span class="col">阅读总数</span></div>
                        <div class="row text-center">
                            <span class="col"
                                  th:text="${null == statInfo ? 0 : statInfo.readCount}"></span></div>
                    </div>

                    <div class="stat-info-item col-sm-3">
                        <div class="row text-center"><span class="col">评论总数</span></div>
                        <div class="row text-center"><span class="col" th:text="${commentCount}"></span></div>
                    </div>
                </div>
            </div>

            <div class="side-block container">
                <span class="side-block-title row">文章分类</span>
                <a class="side-block-item row" th:href="@{/userIndex} + '?userId=' + ${userId}"
                    th:text="'所有文章(' + ${totalArticles} + ')'">
                </a>
                <a class="side-block-item row" th:each="type: ${types}" th:href="@{'/userIndex?typeId='
                    + ${type.id} + '&userId=' + ${userId}}" th:text="${type.name} + '(' + ${type.articleCount} + ')'">
                </a>
            </div>
        </div>

        <div class="right-content col-md mr-2">
            <div class="article-tool-bar row text-right m-0">
                <div class="btn btn-link"
                     th:if="${#authentication.name != 'anonymousUser'
                        && userId == #authentication.details.user.id}">
                    <a th:href="@{/system/articleManager/newArticle}" target="_blank">新建</a>
                </div>
            </div>

            <div class="row article-list-group pt-2" th:each="article: ${articles}">
                <div class="col">
                    <sup th:if="${article.fixTop}" style="color: red; ">[置顶]</sup>
                    <a th:text="${article.title}" class="article-list-item-title font-weight-bold"
                       th:href="@{'/article/detail?id=' + ${article.id}}"></a>
                    <div th:text="${article.remark}" class="mt-2 mb-2 article-list-item-remark"></div>
                    <div class="row pt-3">
                        <div class="article-list-item-info col-sm-10">
                            <span th:text="${article.authorName}" class="mr-4"></span>
                            发表于：<cite th:text="${article.createDate}" class="mr-5"></cite>
                            阅读次数：<cite th:text="${article.readCount}" class="mr-5"></cite>
                            点赞数：<cite th:text="${article.praiseCount}"></cite>
                        </div>
                        <div class="article-list-item-buttons col-sm-2 text-right" >
                            <div class="btn btn-link mb-2" th:if="${#authentication.name != 'anonymousUser' && #authentication.details.user.id == article.authorID}">
                                <a th:href="@{/system/articleManager/newArticle} + '?id=' + ${article.id}" target="_blank">编辑</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="page-bar row mt-2 justify-content-center pt-2">
                <ul class="pagination" id="pager">
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>