<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout/systemLayout">
<head>
    <meta charset="UTF-8"/>
    <title>用户管理</title>

    <script th:src="@{/js/vue.min.js}"></script>
    <script th:src="@{/js/axios.min.js}"></script>    
</head>
<body>

<div layout:fragment="subContent" id="content">
    <div class="row">
        <!-- 右侧列表 -->
        <div class="col">
            <table id="dataTable">
                <thead>
                    <tr>
                        <th data-width="500" data-field="name">名称</th>
                        <th data-width="100" data-field="version">版本</th>
                        <th data-width="500" data-field="desc">说明</th>
                        <th data-width="100" data-field="updateTime">更新时间</th>
                        <th data-width="300" v-on:data-formatter="addButtons" data-events="operateEvent">操作</th>
                    </tr>
                </thead>
            </table>

            <!-- 工具栏 -->
            <div id="toolBar">
                <button type="button" class="btn" data-toggle="modal" @click="showAddDialog">新增</button>
                <button type="button" class="btn" @click="refreshTable">刷新</button>
            </div>

            <!-- 新增工具对话框 -->
            <div class="modal fade" id="newDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="exampleModalLongTitle">新增工具</h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="newForm" method="post" class="form-horizontal" role="form">
                                <div class="form-group row">
                                    <label for="name" class="col-sm-2 control-label mb-0">名称：</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" id="name" placeholder="工具名称"
                                               maxlength="20"
                                               required/>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="name" class="col-sm-2 control-label mb-0">版本：</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" id="version" placeholder="版本"
                                               maxlength="20"
                                               value="V0.0.1"
                                               required/>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="desc" class="col-sm-2 control-label mb-0">描述：</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" id="desc"
                                               maxlength="100" placeholder="工具描述" required/>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="file" class="col-sm-2 control-label mb-0">文件：</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="file" name="file" id="file"/>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="images" class="col-sm-2 control-label mb-0">图片：</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="file" multiple name="images" id="images"/>
                                    </div>
                                </div>

                                <button type="button" class="btn btn-secondary offset-sm-8" data-dismiss="modal">取消</button>
                                <button type="submit" class="btn btn-primary" id="submitButton">保存</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script th:inline="javascript">
    new Vue({
        el: "#content",
        data: {
            tableId: "#dataTable",
            table: {}
        }, 
        methods: {
            init: function() {
                console.log("init")

                let dataTableUrl = [[@{/tool}]];
                let addUrl = [[@{/tool}]];
                let dialogId = "#newDialog";
                let table = null;

                this.table =  $(this.tableId).bootstrapTable({
                    url: dataTableUrl,
                    /*pagination: true,*/ /*工具少不需要分页*/
                    search: true,
                    smartDisplay: true,
                    rowStyle: function(row, index) {
                        return {
                            classes: 'text-primary another-class',
                            css: {"color": "blue", "font-size": "1em"}
                        };
                    },
                    toolbar: "#toolBar"
                })

                $.formSubmit("newForm", this.save);

                //按钮事件处理
                window.operateEvent = {
                    "click #deleteButton": function(e, value, row, index) {

                    }
                }
            }, 

            //添加操作按钮
            addButtons: function(value, row, index, field) {
                return [
                    '<button id="deleteButton" type="button" class="btn btn-sm">删除</button>'
                ].join("");
            },

            refreshTable: function() {
                $(this.tableId).bootstrapTable("refresh");
            }, 

            save: function() {
                let name = $("#name").val();
                let version = $("#remark").val();

                let data = {roleName: roleName, remark: remark};
                if (null != pId) {
                    data.id = pId;
                }

                let app = this
                post(addUrl, data, function(resp){
                        $(dialogId).modal("hide");
                        alert("保存成功！");
                        app.refreshTable();

                        pId = null;
                    }
                );
            }, 

            showAddDialog: function() {
                alert(1)

                $("#exampleModalLongTitle").text("新增");
                pId = null;

                $("#roleName").attr("disabled", false);
                $("#roleName").val("");

                $(dialogId).modal('show');
            }
        }, 
        created: function() {
            this.init()
        }
    })
</script>
</html>