<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout/systemLayout">
<head>
    <meta charset="UTF-8"/>
    <title>用户管理</title>

    <script th:inline="javascript">
        var dataTableUrl = [[@{/manager/user/getAll}]];
        var approveUrl = [[@{/manager/user/approve}]];
        var unlockUrl = [[@{/manager/user/unlock}]];
        var unregisterUrl = [[@{/manager/user/unregister}]];
        var passwordResetUrl = [[@{/manager/user/resetPassword}]];

        var tableId = "#dataTable";
        var table = null;

        var pId;

        $(function(){
            //初始化表格
            table = $(tableId).bootstrapTable({
                url: dataTableUrl,
                /*pagination: true,*/ /*用户少不需要分页*/
                search: true,
                smartDisplay: true,
                rowStyle: rowStyle,
                toolbar: "#toolBar"
            });

            refreshTable();
        });

        function rowStyle(row, index) {
            return {
                 classes: 'text-primary another-class',
                 css: {"color": "blue", "font-size": "1em"}
            };
        }

        //刷新数据
        function refreshTable() {
            $(tableId).bootstrapTable("refresh");
        }

        //添加操作按钮
        function addButtons(value, row, index, field) {
            //管理员不能被操作
            var username = row.username;
            if ("admin" == username) {
                return "";
            }

            var buttons = new Array();
            var status = row.status;
            var approveButton = '<button id="approveUser" type="button" class="btn btn-sm mr-2">审批通过</button>';
            var unlockButton = '<button id="unlockUser" type="button" class="btn btn-sm mr-2">解锁</button>';
            var unregisterButton = '<button id="unregisterUser" type="button" class="btn btn-sm">注销</button>';
            var unUnregisterButton = '<button id="unUnregisterButton" type="button" class="btn btn-sm mr-2">取消注销</button>';
            var passwordResetButton = '<button id="passwordResetButton" type="button" class="btn btn-sm mr-2">密码重置</button>';

            buttons.push(passwordResetButton);
            if ("APPROVING" == status) {
                buttons.push(approveButton);
                buttons.push(unregisterButton);
            } else if ("NORMAL" == status) {
                buttons.push(unregisterButton);
            } else if ("LOCKED" == status) {
                buttons.push(unlockButton);
                buttons.push(unregisterButton);
            } else if ("CANCEL" == status) {
                buttons.push(unUnregisterButton);
            }

            return buttons.join("");
        }

        //按钮事件处理
        window.operateEvent = {
            "click #unlockUser": function(e, value, row, index) {
                post(unlockUrl, {id: row.id}, function(){
                    alert("解锁成功！");
                    refreshTable();
                });
            },
            "click #unregisterUser": function(e, value, row, index) {
                post(unregisterUrl, {id: row.id}, function(){
                    alert("注销成功！");
                    refreshTable();
                });
            },
            "click #approveUser": function(e, value, row, index) {
                post(approveUrl, {id: row.id}, function(){
                    alert("审核成功！");
                    refreshTable();
                });
            },
            "click #unUnregisterButton": function(e, value, row, index) {
                post(unlockUrl, {id: row.id}, function(){
                    alert("取消注销成功！");
                    refreshTable();
                });
            },
            "click #passwordResetButton": function(e, value, row, index) {
                post(passwordResetUrl, {id: row.id}, function(){
                    alert("密码重置成功！");
                    refreshTable();
                });
            }
        }
    </script>
</head>
<body>

<div layout:fragment="subContent">
    <div class="row">
        <!-- 右侧列表 -->
        <div class="col">
            <table id="dataTable">
                <thead>
                    <tr>
                        <th data-width="500" data-field="username">用户名</th>
                        <th data-width="500" data-field="realName">显示名称</th>
                        <th data-width="500" data-field="registerTime">注册时间</th>
                        <th data-width="500" data-field="status">状态</th>
                        <th data-width="500" data-field="errorCount">登录错误次数</th>
                        <th data-width="500" data-formatter="addButtons" data-events="operateEvent">操作</th>
                    </tr>
                </thead>
            </table>

            <!-- 工具栏 -->
            <div id="toolBar">
                <button type="button" class="btn" onclick="javascript: refreshTable(); ">刷新</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>