<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout/systemLayout">
<head>
    <meta charset="UTF-8"/>
    <title>访问日志</title>

    <script th:inline="javascript">
        var table = null;
        var pId;

        $(function(){
            table = new DataTable("dataTable", [[@{/visitLog/pageQuery}]], "toolBar",
                {sidePagination: "server", pagination: true});
        });
    </script>
</head>
<body>

<div layout:fragment="subContent">
    <div class="row">
        <!-- 右侧列表 -->
        <div class="col">
            <table id="dataTable">
                <thead>
                    <tr>
                        <th data-width="500" data-field="userIp">用户IP</th>
                        <th data-width="500" data-field="requestUrl">访问地址</th>
                        <th data-width="500" data-field="user">用户</th>
                        <th data-width="500" data-field="visitTime">访问时间</th>
                    </tr>
                </thead>
            </table>

            <!-- 工具栏 -->
            <div id="toolBar">
                <button type="button" class="btn" onclick="javascript: table.refresh(); ">刷新</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>